
$wheat: wheat;
$black: rgba(65, 63, 63);
$blue: rgb(2, 2, 101);
$beige: lightblue;
$grey: rgb(84, 83, 83);

.blurredeffect{
    background-color: rgba(22, 190, 247, 0.33);
    backdrop-filter: blur(10px);
}
