@use 'login.scss';
@use 'layout.scss';
@use 'fonts.scss' as f;
@use 'color.scss' as c;
@use 'mixins.scss' as *;

*{
    box-sizing: border-box;
}

body{
    background-color: c.$wheat;
    height: 100vh;
    font-family: f.$mainFont;
    background-image: url(https://picsum.photos/1200/);
    background-size: cover;
}
